<div class="calc">
    <div class="container calc__container">
        <h2 class="calc__text">Калькулятор</h2>
        <form class="calc__box">
            <input placeholder="Введіть число" class="calc__input" id="firste" type="text">
            <div class="calc__buttons">
                <button class="calc__button" id="plu">+</button>
                <button class="calc__button" id="mno">*</button>
                <button class="calc__button" id="min">-</button>
                <button class="calc__button" id="dil">/</button>
            </div>
            <input placeholder="Введіть число" class="calc__input" id="seconde" type="text">
            <button class="calc__button"  id="dor">=</button>
            <p class="calc__answer">Результат</p>
        </form>
        <div class="line"></div>
    </div>
</div>