<div class="calc">
    <div class="container calc__container">
        <h2 class="calc__text">Калькулятор</h2>
        <form class="calc__box">
            <input placeholder="Введіть число" class="calc__input" type="text">
            <div class="calc__buttons">
                <button class="calc__button">+</button>
                <button class="calc__button">*</button>
                <button class="calc__button">-</button>
                <button class="calc__button">/</button>
            </div>
            <input placeholder="Введіть число" class="calc__input" type="text">
            <button class="calc__button">=</button>
            <p class="calc__answer">Результат</p>
        </form>
        <div class="line"></div>
    </div>
</div>