<section class="dinosour" id="section-6">
    <div class="container dinosour__container">
        <h2 class="dinosour__text">Google динозавр</h2>
        <button class="dinosour__button">правила</button>
        <div class="dinosour__box"> 
          <p class="dinosour__minitext">0</p>
            <svg id="dino" class="dinosour__icon down">
                <use href="./img/symbol-defs.svg#icon-male" />
              </svg>
              <svg id="cucktus" class="dinosour__icon">
                <use href="./img/symbol-defs.svg#icon-motorcycle" />
              </svg>
              <div class="dinosour__line"></div>
        </div>
    </div>
    <div class="setting__backdrop">
      <div class="setting">
        <h2 class="setting__text">Інструкція</h2>
        <ul class="setting__list">
          <li>
            <p class="setting__minitext">Щоб почати/зупинити гру - натисніть на поле гри</p>
          </li>
          <li>
            <p class="setting__minitext">Щоб стрибати - натисніть клавішу "вгору"/"W"/"пробіл"</p>
          </li>
          <li>
            <p class="setting__minitext">Якщо ви програли - ще раз натисніть на екран</p>
          </li>
        </ul>
        <button class="setting__button">До гри</button>
      </div>
    </div>
</section>