<section class="football">
  <div class="container football__box">
  <h2 class="football__title">Футбол</h2>
  <button class="football__button" id="start">Старт</button>
  <div class="football__stadium">
    <img src="../img/football.webp" alt="" class="football__ball" />
    <div class="football__points" id="one"></div>
    <div class="football__points" id="two"></div>
    <div class="football__points" id="three"></div>
    <div class="football__overlay"></div> 
  </div> 
  <button class="football__button" id="stop">Cтоп</button>
  <p class="football__text">Очків: <span class="football__score">0</span></p>
  <div class="football__line"></div>
</div>
</section>
