<div class="backdrop">
  <div class="thank">
    <button class="thank__button">
      <svg class="thank__close">
        <use href="./img/symbol-defs.svg#icon-cancel" />
      </svg>
    </button>
    <div class="thank__content">
      <div class="thank__first-row">
        <img src="./img/sword.png" class="thank__svg" alt="sword" />
        <h2 class="thank__title">Дякую за підписку!</h2>
        <img
          src="./img/game-development.png"
          class="thank__svg"
          alt="game-development"
        />
      </div>
      <div class="thank__second-row">
        <img src="./img/puzzle.png" class="thank__svg" alt="puzzle" />
        <img
          src="./img/tic-tac-toe.png"
          class="thank__svg"
          alt="tic-tac-toe"
        />
      </div>
    </div>
  </div>
</div>
