<footer class="footer">
    <div class="containre">
        <img src="../img/logo.png" alt="">
        <p class="footer__social">Тел: +38 (123) 456 78 90 E-Mail: codingmagic@gmail.com Facebook: CodingMagic Twitter: CodingMagic Instagram: CodingMagic</p>
        <div class="footer__box">
        <form class="footer__form">
            <input type="email">
            <button>Підписатись</button>
        </form>
        <p class="footer__warning">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
    </div>
</footer>