<div class="thank" style="
visibility: hidden;
opacity: none;
">
<svg class="thank__close">
    <use href="../img/symbol-defs.svg#icon-cancel"/>
</svg>
<div class="thank__content">
    <div class="thank__first-row">
    <img src="../img/sword.png" class="thank__sword" alt="sword">
<h2 class="thank-title">Дякую за підписку!</h2>
<img src="../img/game-development.png" class="thank__game-development" alt="game-development">
</div>
<div class="thank__second-row">
    <img src="../img/puzzle.png" class="thank__puzzle" alt="puzzle">
    <img src="../img/tic-tac-toe.png" class="thank__tic-tac-toe" alt="tic-tac-toe">
</div>
</div>
</div>