<footer class="footer" id="footer">
  <div class="footer__containre">
    <img src="./img/logo.png" alt="" />
    <div class="footer__text-box">
      <p class="footer__social">
        Тел: +38 (123) 456 78 90 E-Mail: codingmagic@gmail.com Facebook:
        CodingMagic Twitter: CodingMagic Instagram: CodingMagic
      </p>
    </div>
    <div class="footer__box">
      <form class="footer__form">
        <input
          type="email"
          class="footer__input"
          required
          placeholder="Ваша ел. адреса..."
        />
        <button type="button" class="footer__button">Підписатись</button>
      </form>
      <p class="footer__warning">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </div>
  </div>
  <a href="#scroll" class="scroll-to-top"><svg class="footer_icon" style="rotate: 180deg;">
    <use href="./img/symbol-defs.svg#icon-arrow-down" />
  </svg></a>
</footer>
