<div class="quess">
    <div class="quess__container container">
        <h2 class="quess__text">Вгадай число, яке загадав комп’ютер</h2>
        <form action="" class="quess__input">
            <input class="quess__inpu"  type="text" placeholder="Введіть число">
            <button class="quess__button"><svg class="quess__svg">
                <use href="../img/symbol-defs.svg#icon-search" />
              </svg></button>
            <p class="quess__answer"><span> </span></p>
        </form>
    </div>
</div>