<section class="quess" id="section-2">
    <div class="quess__container container">
        <h2 class="quess__text">Вгадай число, яке загадав комп’ютер</h2>
        <div class="quess__box">
            <form class="quess__input">
                <input class="quess__inpu"  type="text" placeholder="Введіть число">
                <button class="quess__button"><svg class="quess__svg">
                    <use href="./img/symbol-defs.svg#icon-search" />
                  </svg></button>
            </form>
            <p class="quess__answer">Вітаю, ви вгадали число!<span class="quess__span"> </span></p>
        </div>
        <div class="line"></div>
    </div>
</section>
<section class="squad">
    <div class="squad__container container">
        <h2 class="squad__text">Знайди квадрат числа</h2>
        <div class="squad__box">
            <form class="squad__input">
                <input class="squad__inpu"  type="text" placeholder="Введіть число">
                <button class="squad__button"><svg class="squad__svg">
                    <use href="./img/symbol-defs.svg#icon-search" />
                  </svg></button>
            </form>
            <p class="squad__answer">Квадрат цього числа<span class="squad__span"> </span></p>
        </div>
        <div class="line"></div>
    </div>
</section>