<div class="quess">
    <div class="quess__container container">
        <h2 class="quess__text">Вгадай число, яке загадав комп’ютер</h2>
        <div class="quess__box">
            <form action="" class="quess__input">
                <input class="quess__inpu"  type="text" placeholder="Введіть число">
                <button class="quess__button"><svg class="quess__svg">
                    <use href="../img/symbol-defs.svg#icon-search" />
                  </svg></button>
            </form>
            <p class="quess__answer">Вітаю, ви вгадали число!<span class="quess__span"> </span></p>
        </div>
        <div class="line"></div>
    </div>
</div>