<img src="" alt="logo">
<h1>Coding <span>Magic</span></h1>
<ul>
    <li><p>Інтерактив </p>
<button><img src="" alt="arow"></button>
<ul>
    <li>Числовий</li>
    <li>Ігровий</li>
    <li>Ознайомчий</li>
</ul>
</li>
    <li><a href="">Наша команда</a></li>
    <li><a href="">Контакти</a></li>
</ul>
<input type="checkbox" role="switch">
<p>Вітаємо, User!</p><img src="" alt="logo">
<h1>Coding <span>Magic</span></h1>
<ul>
    <li><p>Інтерактив </p>
<button><img src="" alt="arow"></button>
<ul>
    <li>Числовий</li>
    <li>Ігровий</li>
    <li>Ознайомчий</li>
</ul>
</li>
    <li><a href="">Наша команда</a></li>
    <li><a href="">Контакти</a></li>
</ul>
<label>
    <input type="checkbox" role="switch">
    <div></div>
</label>
<p>Вітаємо, User!</p>