<section class="backdrope">
<div class="modale">
    <button class="modale__cancel">
        <svg class="modale__icon">
            <use href="../img/symbol-defs.svg#icon-cancel" />
          </svg>
    </button>
    <h2 class="modale__text">Привіт! <br>
        Ви потрапили на сайт інтерактивних ігор та завдань
        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
        Бажаємо Вам гарно провести час!
    </h2>
    <p class="modale__minitext">Введіть своє ім’я:</p>
    <input placeholder="Ваше ім’я..." class="modale__input" type="text">
    <button class="modale__button">Зберегти</button>
    <p class="modale__thank">Дякую за підписку!</p>

    <img src="../img/puzzle.png" class="modale__svg  modale__puzzle" alt="puzzle">
    <img src="../img/tic-tac-toe.png" class="modale__svg modale__tic" alt="tic-tac-toe">
    <img src="../img/game-development.png" class="modale__svg modale__dev" alt="game-development">
    <img src="../img/sword.png" class="modale__svg modale__sword" alt="sword">
</div>
</section>