<div class="header">
  <svg class="header__logo">
    <use href="" />
  </svg>
  <ul class="header__list">
    <li class="header__li">
      <p class="header__link">Інтерактив</p>
      <button class="header__button">
        <!-- <svg class="header__arrow">
            <use href="" />
          </svg> -->
      </button>
      <ul class="header__acardions">
        <li>Числовий</li>
        <li>Ігровий</li>
        <li>Ознайомчий</li>
      </ul>
    </li>
    <li class="header__li"><a href="" class="header__link">Наша команда</a></li>
    <li class="header__li"><a href="" class="header__link">Контакти</a></li>
  </ul>
  <label class="header__lable">
    <input type="checkbox" role="switch" class="header__switch"/>
    <div class="header__circle"></div>
  </label>
  <p class="header__minitext">Вітаємо, User!</p>
</div>
