<section class="header">
  <div class="container header__container">
<img class="header__logo" src="./img/logo.png" alt="">
  <ul class="header__list">
    <li class="header__li">
        <p class="header__link">Інтерактив</p>
        <button class="header__button">
          <svg class="header__icon">
            <use href="./img/symbol-defs.svg#icon-arrow-down" />
          </svg>
        </button>
      <ul class="header__acardions">
        <li class="header__acardion" id="numerical">Числовий</li>
        <li class="header__acardion" id="game">Ігровий</li>
        <li class="header__acardion" id="acquaintance">Ознайомчий</li>
      </ul>
    </li>
    <li class="header__li"><a href="" class="header__link">Наша команда</a></li>
    <li class="header__li"><a href="" class="header__link">Контакти</a></li>
  </ul>
  <label class="header__lable">
    <input type="checkbox" role="switch" class="header__switch"/>
    <div class="header__circle">
      <svg class="header__svg">
        <use href="./img/symbol-defs.svg#icon-sun" />
      </svg>
    </div>
  </label>
  <p class="header__minitext">Вітаємо, User!</p>
</div>
</section>
