<section class="year">
  <div class="container year__box">
  <h2 class="year__title">Перевір в який рік ти народився</h2>
  <div class="year__content">
  <form class="year__form">
    <input
      type="text"
      placeholder="Введіть рік народження"
      class="year__input"
    />
    <button class="year__button">
      <svg class="year__svg">
        <use href="../img/symbol-defs.svg#icon-search" />
      </svg>
    </button>
  </form>
  <p class="year__result">Ви народилися у високосний рік!</p>
  </div>
  <div class="year__line"></div>
  </div>
</section>
