<section class="man" id="section-6">
    <div class="container man__container">
        <h2 class="man__text">(не)Google чоловічок</h2>
        <button class="man__button">правила</button>
        <div class="man__box"> 
          <p class="man__minitext">0</p>
            <svg id="man" class="man__icon">
                <use href="./img/symbol-defs.svg#icon-male" />
              </svg>
              <svg id="moto" class="man__icon">
                <use href="./img/symbol-defs.svg#icon-motorcycle" />
              </svg>
              <div class="man__line"></div>
        </div>
    </div>
    <div class="setting__backdrop">
      <div class="man__setting">
        <h2 class="setting__text">Інструкція</h2>
        <ul class="setting__list">
          <li>
            <p class="setting__minitext">Щоб почати/зупинити гру - натисніть на поле гри</p>
          </li>
          <li>
            <p class="setting__minitext">Щоб стрибати - натисніть клавішу "вгору"/"W"</p>
          </li>
          <li>
            <p class="setting__minitext">Якщо ви програли - ще раз натисніть на екран</p>
          </li>
        </ul>
        <button class="setting__button">До гри</button>
      </div>
    </div>
</section>