<section class="rps">
  <h2 class="rps__title">Камінь - ножиці - папір</h2>
  <div>
    <ul class="rps__options">
      <li class="rps__option">            <svg class="rps__svg">
        <use href="../img/symbol-defs.svg#icon-search"/>
    </svg></li>
      <li class="rps__option">            <svg class="rps__svg">
        <use href="../img/symbol-defs.svg#icon-search"/>
    </svg></li>
      <li class="rps__option">            <svg class="rps__svg">
        <use href="../img/symbol-defs.svg#icon-search"/>
    </svg></li>
    </ul>
    <ul class="rps__stats">
        <li class="rps__stat"><p class="rps__text">Рахунок:</p></li>
        <li class="rps__stat"><p class="rps__text">Комп’ютер - <span class="value">0</span></p></li>
        <li class="rps__stat"><p class="rps__text">Ви - <span class="value">0</span></p></li>
    </ul>
    <p class="rps__result"></p>
    <p class="rps__comp">Варіант комп’ютера</p>
  </div>
  <div class="rps__line"></div>
</section>
