<section class="rps">
  <div class="container rps__box">
    <h2 class="rps__title">Камінь - ножиці - папір</h2>
    <div class="rps__content">
      <ul class="rps__options">
        <li class="rps__option">
          <svg class="rps__svg">
            <use href="../img/symbol-defs.svg#icon-rock" />
          </svg>
        </li>
        <li class="rps__option">
          <svg class="rps__svg">
            <use href="../img/symbol-defs.svg#icon-scissor" />
          </svg>
        </li>
        <li class="rps__option">
          <svg class="rps__svg">
            <use href="../img/symbol-defs.svg#icon-paper" />
          </svg>
        </li>
      </ul>
      <ul class="rps__stats">
        <li class="rps__stat"><p class="rps__text">Рахунок:</p></li>
        <li class="rps__stat">
          <p class="rps__text">Комп’ютер - <span class="value">0</span></p>
        </li>
        <li class="rps__stat">
          <p class="rps__text">Ви - <span class="value">0</span></p>
        </li>
      </ul>
    </div>
      <p class="rps__result">Ви виграли раунд!</p>
      <div class="rps__text-box">
      <p class="rps__comp">Варіант комп’ютера</p>
      </div>
    
    <div class="rps__line"></div>
  </div>
</section>
