<div class="scientist">
    <div class="container scientist__container">
        <h2 class="scientist__text">Обери вченого/их</h2>
        <ul class="scientist__images">
            <li id="scientist-1" class="scientist__image">
                <h3 class="scientist__name">Albert Einstein</h3>
                <p class="scientist__born">1879 - 1955</p>
            </li>
            <li id="scientist-2" class="scientist__image">
                <h3 class="scientist__name">Isaac Newton</h3>
                <p class="scientist__born">1643 - 1727</p>
            </li>
            <li id="scientist-3" class="scientist__image">
                <h3 class="scientist__name">Galileo Galilei</h3>
                <p class="scientist__born">1564 - 1642</p>
            </li>
            <li id="scientist-4" class="scientist__image">
                <h3 class="scientist__name">Marie Curie</h3>
                <p class="scientist__born">1867 - 1934</p>
            </li>
            <li id="scientist-5" class="scientist__image">
                <h3 class="scientist__name">Johannes Kepler</h3>
                <p class="scientist__born">1571 - 1630</p>
            </li>
            <li id="scientist-6" class="scientist__image">
                <h3 class="scientist__name">Nicolaus Copernicus</h3>
                <p class="scientist__born">1473 - 1543</p>
            </li>
            <li id="scientist-7" class="scientist__image">
                <h3 class="scientist__name">Max Planck</h3>
                <p class="scientist__born">1858 - 1947</p>
            </li>
            <li id="scientist-8" class="scientist__image">
                <h3 class="scientist__name">Katherine Blodgett</h3>
                <p class="scientist__born">1898 - 1979</p>
            </li>
            <li id="scientist-9" class="scientist__image">
                <h3 class="scientist__name">Ada Lovelace</h3>
                <p class="scientist__born">1815 - 1852</p>
            </li>
            <li id="scientist-10" class="scientist__image">
                <h3 class="scientist__name">Sarah E. Goode</h3>
                <p class="scientist__born">1855 - 1905</p>
            </li>
            <li id="scientist-11" class="scientist__image">
                <h3 class="scientist__name">Lise Meitner</h3>
                <p class="scientist__born">1878 - 1968</p>
            </li>
            <li id="scientist-12" class="scientist__image">
                <h3 class="scientist__name">Hanna Hammarström</h3>
                <p class="scientist__born">1829 - 1909</p>
            </li>
        </ul>

        <ul class="scientist__list">
            <li class="scientist__box">
                <button id="btn-born-19century" class="scientist__button">Які вчені народилися в 19 ст.</button>
                <button id="btn-einstein-birth" class="scientist__button">Знайти рік народження Albert Einstein</button>
            </li>
            <li class="scientist__box">
                <button id="btn-sort-alphabetically" class="scientist__button">Відсортувати вчених за алфавітом</button>
                <button id="btn-surname-c" class="scientist__button">Знайти вчених, прізвища яких починаються на літеру “С”</button>
            </li>
            <li class="scientist__box">
                <button id="btn-sort-lifespan" class="scientist__button">Відсортувати вчених за кількістю прожитих років</button>
                <button id="btn-delete-a" class="scientist__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="scientist__box">
                <button id="btn-latest-born" class="scientist__button">Знайти вченого, який народився найпізніше</button>
                <button id="btn-longest-shortest-lived" class="scientist__button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            </li>
        </ul>
        <button id="btn-same-initials" class="scientist__button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</div>
