<div class="scientist">
    <div class="container  scientist__container">
        <h2 class="scientist__text">Обери вченого/их</h2>
        <ul class="scientist__images">
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
            <li class="scientist__image"></li>
        </ul>
        <ul class="scientist__list">
            <li class="scientist__box"><button class="scientist__button">Які вчені народилися в 19 ст.</button>
                <button class="scientist__button">Знайти рік народження Albert Einshtein</button>
            </li>
            <li class="scientist__box">
                <button class="scientist__button">Відсортувати вчених за алфавітом</button>
                <button class="scientist__button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            </li>
            <li class="scientist__box">
                <button class="scientist__button">Відсортувати вчених за кількістю прожитих років</button>
                <button class="scientist__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="scientist__box">
                <button class="scientist__button">Знайти вченого, який народився найпізніше</button>
                <button class="scientist__button">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
            </li>
        </ul>
       <button class="scientist__button">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</div>