<section class="team">
<div class="container">
    <h2 class="team__title">Наша команда</h2>
    <svg class="team__svg-left">
        <use href="../img/symbol-defs.svg#icon-arrow_back"/>
    </svg>
    <ul class="team__list">
        <li>
            <img src="" alt="" class="team__pic">
            <h3 class="team_name">Данило</h3>
            <p class="team__role"></p>
        </li>
        <li>
            <img src="" alt="" class="team__pic">
            <h3 class="team_name">Остап</h3>
            <p class="team__role"></p>
        </li>
    </ul>
    <svg class="team__svg-right">
        <use href="../img/symbol-defs.svg#icon-arrow_forward"/>
    </svg>
</div>
</section>