<div class="three">
    <div class="container three__container">
        <h2 class="three__text">Введіть 3 числа</h2>
        <form class="three__box">
            <input placeholder="Введіть число" class="three__input" id="threefirst" type="text">
            <input placeholder="Введіть число" class="three__input" id="threesecond" type="text">
            <input placeholder="Введіть число" class="three__input" id="threethree" type="text">
        </form>
        <p class="three__answer">Найбільше число, яке ви ввели - <span class="three__span"></span></p>
        <div class="line"></div>
    </div>
</div>