<div class="three">
    <div class="container three__container">
        <h2 class="tree__text">Введіть 3 числа</h2>
        <form class="three__box">
            <input placeholder="Введіть число" class="three__input" type="text">
            <input placeholder="Введіть число" class="three__input" type="text">
            <input placeholder="Введіть число" class="three__input" type="text">
        </form>
        <p class="three__answer">Найбільше число, яке ви ввели - <span></span></p>
        <div class="line"></div>
    </div>
</div>