<section class="time-calc">
  <div class="container time-calc__box">
    <h2 class="time-calc__title">Калькулятор часу</h2>
    <div class="time-calc__content">
        <form  action="" class="time-calc__form">
            <input
              type="text"
              placeholder="Введіть число"
              class="time-calc__input"
            />
            <button class="time-calc__button" type="submit" >
              <svg class="time-calc__svg">
                <use href="../img/symbol-defs.svg#icon-search" />
              </svg>
            </button>
          </form>
          <div class="time-calc__equal-line"></div>
          <p class="time-calc"><span class="time-calc__days">0</span>дн. <span class="time-calc__hours">0</span>:<span class="time-calc__minutes">0</span></p>
    </div>
    <div class="time-calc__line"></div>
  </div>
</section>