.calc {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: #000;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 62px;
height: 60px;
margin-right: 38px;
  }

  &__button {
    display: inline-flex;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25px;
    height: 25px;
  }

  &__input {
    width: 135px;
    height: 35px;
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: #7e7e7e;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 38px;
  }

  &__answer {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    color: #7e7e7e;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 38px;
  }
}


.line {
    width: 536px;
height: 2px;
flex-shrink: 0;
background-color: #000;
margin-top: 36px;
}