.football {
  
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__title {
      color: #000;
      font-family: "Montserrat Alternates";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 36px;
    }

    &__list{
      display: flex;
      gap: 10px;
    }
  
    &__stadium {
      width: 720px;
      height: 220px;
      flex-shrink: 0;
      border-radius: 37px;
      border: 2px solid #000;
      background: #5ABB58;
      margin-bottom: 36px;
      position: relative;
      overflow: hidden;
    }
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  
    &__ball {
      position: absolute;
      transition-duration: 250ms;
      filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
      transform: translate(334px, 80px);
    }
  
    &__text {
      color: #000;
      font-family: "Montserrat Alternates";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 36px;
    }
  
    &__points {
      width: 50px;
      height: 50px;
      background-color: gold;
      border: 1px goldenrod dashed;
      border-radius: 50%;
      position: absolute;
      transition-duration: 250ms;
      transform: translate(100px, 100px);
    }

    &__explanetion{
      width: 600px;
      color: #000;
      font-family: "Montserrat Alternates";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.04px;
    }
  
    &__line {
      width: 536px;
      height: 2px;
      flex-shrink: 0;
      stroke-width: 3px;
      background-color: #000;
    }
  
    &__button {
      padding: 10px 20px;
      display: inline-flex;
      border-radius: 20px;
      background: #000;
      box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
      color: #FFF;
      transition-duration: 250ms;
      font-family: "Montserrat Alternates";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 16px;
    }
  
    &__button:hover {
      transition-duration: 250ms;
      background-color: #8ACECF;
    }
  }
  