.footer{
    background: #FFF;
    padding: 20px 15px;
    @media screen and (min-width: 1090px) {
    padding: 60px 175px;
    }

    &__containre{
        display: flex;
        gap: 186px;
        align-items: center;
        @media screen and (max-width: 480px) {
            gap: 86px;
            flex-wrap: wrap;
          }
         
    }

    &__text-box{
        width: 207px;
        height: 100px;
    }

    &__form{
display: flex;
flex-direction: column;
gap: 36px;
@media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 36px;
}
    }

    &__input{
        display: inline-flex;
padding: 10px 80px 10px 10px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: #D7D7D7;
    }

    &__button{
padding: 10px;
align-items: flex-start;
color: #FFF;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 20px;
background: #000;
transition-duration: 250ms
    }

    &__button:hover{
        transition-duration: 250ms;
        background-color: #8ACECF;
        color: #000;
    }

    &__warning{
        color: #000;
font-family: "Montserrat Alternates";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 18px;
    }

    &__box{
        width: 395px;
        @media screen and (min-width: 1090px) {
            width: auto;
        }
    }

}

.footer_icon{
    width: 60px;
    height: 60px;
    fill: #eaeaea;
    transition-duration: 450ms;
}

.scroll-to-top{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #8ACECF 2px solid;
    border-radius: 90%;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    transition-duration: 250ms;
}

.scroll-to-top:hover{
    background-color: #8ACECF;
    border:  #eaeaea 2px solid;
    transform: translate(0px, 10px) ;
}

.scroll-to-top:hover .footer_icon{
 fill: #000;
 transform: rotate(360deg);
}