.header {
  background-color: #FFF;




  &__container{
    display: flex;
    padding: 21px 0;
    align-items: center;
  }

  &__logo {
    width: 93px;
    height: 39px;
  }

  &__icon {
    width: 9px;
    height: 5px;
    stroke-width: 0.75px;
stroke: #000;
fill: #FFF;
  }


  &__button {
    padding: 0;
    display: flex;
    background-color: transparent;
    width: 9px;
    height: 5px;
  }

  &__list {
    margin-left: 80px;
    margin-right: auto;
    display: flex;
    gap: 50px;
  }

  &__link {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }


  &__li {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

&__acardion{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}

&__acardion:last-child {
  border-radius: 0px 0px 20px 20px;
}

&__acardion:hover {
  background: #F1F1F1;
}


  &__acardions {
    position: absolute;
    top: 47px;
    display: none;
flex-direction: column;
border-radius: 0px 0px 20px 20px;
border: 1px solid #000;
background: #FFF;
  }

  &__true {
    display: flex;
    width: 160px;
height: 105px;
  }

  &__minitext {
    margin-left: 51px;
    color: #000;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__lable {
    display: flex;
    justify-content: start;
    width: 40px;
    height: 20px;

    border-radius: 11px;
    background: #7a7a7a;
  }

  &__circle {
    border: #000 solid 1px;
    background-color: #FFF;
    width: 20.5px;
height: 20px;
border-radius: 20px ;
display: flex;
align-items: center;
justify-content: center;
  }

  &__switch {
    display: inline-block;
    width: 0;
    height: 0;
  }

  &__svg {
    width: 20.5px;
    height: 20px;
    border-radius: 20px;
  }
}
