.year{
    &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    &__title{
        color: #000;
font-family: "Montserrat Alternates";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 36px;
@media screen and (min-width: 1090px) {
    font-size: 16px;
}
    }
    &__form{
        width: 155px;
height: 35px;
flex-shrink: 0;
filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
@media screen and (min-width: 1090px) {
    width: 215px;
}

    }

    &__input{
        height: 35px;
        display: inline-flex;
        padding: 10px 10px 10px 10px;
        align-items: flex-start;
        gap: 10px;
        font-size: 12.5px;
border-radius: 20px;
background: #D7D7D7;
border:none;
position: relative;
@media screen and (min-width: 768px) {
    font-size: 16px;
    padding: 10px 45px 10px 10px;
}
    }

    &__button{
        width: 35px;
        height: 35px;
        display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
border-radius: 0px 20px 20px 0px;
background: #000;
border: none;
position: absolute;
left: 94%;
top: 0px;
transition-duration: 250ms;
    }

    &__svg{
        width: 15px;
height: 15px;
fill: white;
transition-duration: 250ms;
    }

    &__button:hover{
        transition-duration: 250ms;
        background-color: #8ACECF;
    }

    &__button:hover &__svg{
        transition-duration: 250ms;
        fill: black;
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 49px;
        align-items: center;
        margin-bottom: 16px;
        @media screen and (min-width: 1090px) {
            gap: 149px;
            margin-bottom: 36px;
            flex-direction: row;
        }
    }

    &__line{
        width: 350px;
        height: 2px;
flex-shrink: 0;
stroke-width: 3px;
background-color: #000;
@media screen and (min-width: 1090px) {
    width: 536px;
}
    }

   &__result{
    width: 231px;
    display: inline-flex;
    color: #039900;
text-align: right;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
visibility: hidden;
   }
}