.hero{
    &__title{
        color: #000;
font-family: "Montserrat Alternates";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }

    &__line{
        width: 536px;
height: 1px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #000;
    }
}